body {
  font-family: 'Mulish', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Nunito', sans-serif;
  background-color: #fea49f;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden {
    display: none;
}

.navbar, .navbar-item, #logo {
  background-color: #101357;
  color: white;
}

/*Main Page Start*/
.mainPage {
  background-color: white;
  border-style: solid;
  border-color: #101357;
  border-width: 3px;
  margin: 20px;
}

#mainTitle, p {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

p {
  font-size: 20px;
  color: #101357;
}

.getStartedBtn {
  background-color: #101357;
  color: white;
    border-style: solid;
    border-color: #101357;
    border-radius: 10px;
    width: 50%;
    margin: 10px;
}
/*Main Page End*/

.MealIngredientList li {
  font-size: 24px;
  color: #101357;
  margin: 5px;
}

.MealRandomGenerator {
  border-style: solid;
  border-color: #101357;
}


.MealCategory, #MealRandomGenerator {
  border-style: solid;
  border-color: #101357;
  border-radius: 10px;
}
/*Meal Search Start*/
#MealSearchBtn, .ReturnMealResults {
  background-color: #101357;
  border-color: #101357;
  border-radius: 3px;
  color: white;
}

#SearchForm {
  color: #101357;
}
/*Meal Search End*/

.MealSearchResult, .MealCategories, .MealAreas, .MealRandomGenerator, .MealIngredientList, #MealDetails {
    border-style: solid;
    border-width: 3px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    margin-bottom: 15px;
    background-color: white;
    color: white;
}

.Areas-Buttons {
  color: white;
  border-style: solid;
  border-color: #101357;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 15px;

}

.MealCategory {
  margin: 20px;
  padding: 20px;
  margin-bottom: 15px;
}

.MealCategory h2 {
  color: white;
}

#MealDetails {
  text-align: center;
  background-color: #00a0a0;
}

#MealIMG {
  border-style: solid;
  border-color: #101357;
  border-width: 3px;
}

#MealInstructions {
  margin: 20px;
  padding: 15px;
  border-style: solid;
  border-color: #101357;
}

li, #MealInstructions {
  color: #101357;
  font-size: 20px;
}

h2, u {
  font-size: 30px;
}


#MealInstructions, #IngredientList {
  color: #101357;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-color: #101357;
}

a {
  color: white;
}

a:hover {
  color: #101357;
}

#ReturnMealCatalog, .ReturnMealResults {
  margin-top: 5px;
  border-style: solid;
  border-color: #101357;
  border-radius: 3px;
}

.MealSearchResult img {
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}

.MealSearchResult {
  width: 75%;
  margin-left: 10%;
  margin-right: 10;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.MealArea {
  padding: 0;
}

.MealArea h2 {
  padding: 10px;
}


.MealCategory, .Areas-Buttons, button, .MealSearchResult {
  background-color: #101357;
}

.subtitle {
  color: #cfeeff;
}

.MealSearchResult h1 {
  font-size: 25px;
}

.title {
  color: #101357;
  margin: 15px;
}


.MealSearchResult:hover, .MealCategory:hover, .Areas-Buttons:hover, .subtitle:hover, .Areas-Buttons:hover, #MealSearchBtn:hover, .ReturnMealResults:hover, .getStartedBtn:hover {
    background-color: #00a0a0;
    color: white;
}

footer {
  position: fixed;
    text-align: center;
    width: 100%;
    background-color:#101357;
    color: white;
    bottom: 0;
    left: 0;
}




.autocomplete-suggestions { 
    border: 2px solid #101357; 
    background: #FFF; 
    overflow: auto; 
  }
  
  .autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
  }
  
  .autocomplete-selected { 
    background: #F0F0F0; 
  }
  
  .autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
  }
  
  .autocomplete-group { 
    padding: 2px 5px; 
  }
  
  .autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
  }