body {
  font-family: 'Mulish', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Nunito', sans-serif;
  background-color: #fea49f;
  overflow: auto;
  height: 100%;
}

html {
  overflow: auto;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hidden {
    display: none;
}

.navbar, .navbar-item, #logo {
  background-color: #101357;
  color: white;
}

/*Main Page Start*/
.mainPage {
  background-color: white;
  border-style: solid;
  border-color: #101357;
  border-width: 3px;
  margin: 20px;
}

#mainTitle, p {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

p {
  font-size: 20px;
  color: #101357;
}

.getStartedBtn {
  background-color: #101357;
  color: white;
    border-style: solid;
    border-color: #101357;
    border-radius: 10px;
    width: 50%;
    margin: 10px;
}
/*Main Page End*/

.MealIngredientList li {
  font-size: 20px;
  color: #101357;
  margin: 5px;
}

.MealRandomGenerator {
  border-style: solid;
  border-color: #101357;
}


.MealCategory, #MealRandomGenerator, .drinkCategory, .drinkGlass, .drinkAlcohol, #drinkRandomGenerator {
  border-style: solid;
  border-color: #101357;
  border-radius: 10px;
  color: white;
}
/*Meal Search Start*/
#MealSearchBtn, .ReturnMealResults, #SaveMealBtn, #saveDrinkBtn {
  background-color: #101357;
  border-color: #101357;
  border-radius: 3px;
  color: white;
}

#SearchForm {
  color: #101357;
}
/*Meal Search End*/

.MealSearchResult, .MealCategories, .MealAreas, .MealRandomGenerator, .MealIngredientList, #MealDetails,/**/ .drinkSearchResult, .drinkCategories, .drinkAreas, .drinkRandomGenerator, .drinkIngredientList, .drinkGlasses, .drinkAlcoholic, #drinkDetails {
    border-style: solid;
    border-width: 3px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    margin-bottom: 15px;
    background-color: white;
    color: white;
}

.Areas-Buttons {
  color: white;
  border-style: solid;
  border-color: #101357;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 15px;

}

.MealCategory, .drinkCategory, .drinkGlass, .drinkAlcohol {
  margin: 20px;
  padding: 20px;
  margin-bottom: 15px;
}

.MealCategory h2, .drinkCategory h2, .drinkGlass h2, .drinkAlcohol {
  color: white;
}

#MealDetails, #drinkDetails {
  text-align: center;
  background-color: #00a0a0;
}

#MealIMG, #drinkIMG {
  border-style: solid;
  border-color: #101357;
  border-width: 3px;
}

#MealInstructions {
  margin: 20px;
  padding: 15px;
  border-style: solid;
  border-color: #101357;
}

li, #MealInstructions {
  color: #101357;
  font-size: 20px;
}

h2, u {
  font-size: 30px;
}


#MealInstructions, #IngredientList, #drinkIngredientList, #drinkInstructions {
  color: #101357;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-color: #101357;
}

a, #MealSearchresults p {
  color: white;
}

a:hover {
  color: #fea49f;
}

#ReturnMealCatalog, .ReturnMealResults, #returnDrinkCatalog, #MealRandomGenerator, .returnDrinkResults, #saveDrinkBtn, #SaveMealBtn {
  margin-top: 5px;
  border-style: solid;
  border-color: #101357;
  border-radius: 3px;
  overflow: auto;
  height: 30px;
  color: white;
  font-size: 1.25rem;
}

.MealSearchResult img {
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}

.MealSearchResult, .drinkSearchResult {
  width: 75%;
  margin-left: 10%;
  margin-right: 10;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}


.MealArea {
  padding: 0;
}

.MealArea h2 {
  padding: 10px;
}


.MealCategory, .Areas-Buttons, button, .MealSearchResult, .drinkCategory, .drinkGlass, .drinkAlcohol, .drinkSearchResult {
  background-color: #101357;
}

.subtitle {
  color: #cfeeff;
}

.MealSearchResult h1, .drinkSearchResult h1 {
  font-size: 25px;
}

.title {
  color: #101357;
  margin: 15px;
}


.MealSearchResult:hover, .MealCategory:hover, .Areas-Buttons:hover, .subtitle:hover, .Areas-Buttons:hover, #MealSearchBtn:hover, .ReturnMealResults:hover, #ReturnMealCatalog:hover, #MealRandomGenerator:hover /**/.drinkSearchResult:hover, .drinkCategory:hover, .drinkGlass:hover, .drinkAlcohol:hover, #SaveMealBtn:hover, #drinkRandomGenerator:hover, .drinkSearchResult:hover, #returnDrinkCatalog:hover, .returnDrinkResults:hover, #saveDrinkBtn:hover {
    background-color: #00a0a0;
    color: white;
}

footer {
  margin: auto;
  position: fixed;
    text-align: center;
    width: 100%;
    background-color:#101357;
    color: white;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}




.autocomplete-suggestions { 
    border: 2px solid #101357; 
    background: #FFF; 
    overflow: auto; 
  }
  
  .autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
  }
  
  .autocomplete-selected { 
    background: #F0F0F0; 
  }
  
  .autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
  }
  
  .autocomplete-group { 
    padding: 2px 5px; 
  }
  
  .autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
  }

  /*Drinks Start*/
  .drinkCategories h1, .drinkGlasses h1, .drinkAlcoholic h1, .drinkRandomGenerator h2, .drinkIngredientList h1, .MealIngredientList h1, .MealRandomGenerator h2 {
    color: #101357;
    margin: 15px;
    font-size: 32px;
  }

  #drinkName, #MealTitle {
    font-size: 2rem;
    color: #101357;
  }

  #drinkRandomGenerator {
    font-size: 1.25rem;
  }

  #drinkDetails h3, #drinkDetails h4 {
    font-size: 25px;
  }

  .drinkCategories, .drinkGlasses, .drinkAlcoholic, .drinkRandomGenerator, .drinkIngredientList, .MealIngredientList, .MealRandomGenerator {
    border: solid 3px #101357;
  }
  /*Drinks End*/